html {
	font-size: calc(1em + 0.5vw + 0.5vh);
	font-family: Microsoft JhengHei, Tahoma, Verdana, Arial, sans-serif;
}

body {
	background-color: #F7F7F7;
}

body .night {
	background-color: rgb(2, 0, 14)
}