/* 样式页面内容 - 将页面内容送到右侧 */
.theMain {
	width: 90vw;
	margin-left: 5vw;
	transition: margin-left .5s;
	/* 过渡效果 */
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 0;
	transition: 0.5s;
}

p {
	font-size: 0.8rem;
	transition: 0.2s;
}
p .night {
	font-size: 0.8rem;
	transition: 0.2s;
	color: white;
}
h1 .night {
	color: white;
}
h2 .night {
	color: white;
}
h3 .night {
	color: white;
}
h4 .night {
	color: white;
}
h5 .night {
	color: white;
}


.main_images {
	opacity: 1;
	position: relative;
	width: calc(100vw + 30px);
	height: auto;
	margin-left: -20px;
	margin-right: -10px;
	border: none;
	z-index: -1;
	background: none;
	transition: all 0.5s;
}

.miniText {
	z-index: 0;
	margin-left: 4rem;
	margin-top: -22em;
	margin-bottom: 12em;
}
@media screen and (max-width: 1080px) and (min-width: 801px) {
	.miniText {
		margin-top: -18rem;
		margin-bottom: 10em;
	}
}
@media screen and (max-width: 800px) and (min-width: 701px) {
	.miniText {
		margin-top: -16rem;
		margin-bottom: 8em;
	}
}
@media screen and (max-width: 700px){
	.miniText {
		font-size: 0.75rem;
		margin-top: -12rem;
		margin-bottom: 4em;
	}
}


.miniTitle, .miniIntro, .toIntro a {
	z-index: 1;
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

.miniTitle {
	font-size: 1.5rem;
}

.toIntro {
	background-color: rgba(255,255,255,0);
	padding: 15px 20px 15px 20px;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
}
.toIntro span {
	font-size: 125%;
	padding-bottom: 15px;
	position: relative;
	transition: 0.7s;
	cursor: pointer;
	display: inline-block;
}
.toIntro span:after {
	content: ' → ';
	position: absolute;
	transition: 0.7s;
	opacity: 0;
	top: 0;
	right: -0.3rem;
}

.toIntro:hover span {
	padding-right: 1.5rem;
}

.toIntro:hover span:after {
	opacity: 1;
	right: 5;
}
.toIntro:hover {
	background-color: rgba(255,255,255,0.1);
}
.toIntro:active {
	background-color: rgba(255,255,255,0.25);
}


.switch_buttons {
	text-align: center;
}
.image_buttons {
	padding: 1em 1em 1em 1em;
}
.image_buttons_button {
	padding: 1em 1.5em 1em 1.5em;
	border-style: solid;
	border-color: grey;
	background-color: rgb(238, 237, 237);
	color: black;
	border-radius: 0.5em;
	transition: 0.2s;
}
.image_buttons_button:hover {
	background-color: rgb(163, 160, 160);
}

h4 {
	text-align: center;
}

.article_area {
	display: flex;
	align-items: center;
	overflow: auto;
	flex-wrap: nowrap;
}

.main_articles {
	flex-shrink: 0;
	flex-wrap: 0;
	overflow: initial;
	width: 20%;
	background-color: rgb(222, 250, 234);
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: rgb(11, 194, 103) rgb(8, 83, 46) rgb(8, 83, 46) rgb(11, 194, 103);
	display: inline-block;
	text-align: left;
	min-height: 300px;
}

/*选取文章区除第一个之外的所有子元素*/
.article_area .main_articles:not(:first-child) {
	margin-left: 0.5em;
}

@media screen and (max-width: 835px) {
	.article_area .main_articles:not(:first-child) {
		margin-left: 0.4em;
	}
}

h5 {
	font-size: 20px;
	margin-top: 0.5em;
	padding-left: 15px;
}

.date {
	color: grey;
	font-size: 8px;
	padding-left: 15px;
	margin-top: -4em;
}

.arcs {
	font-size: 15px;
	padding-left: 15px;
}

.history {
	margin-left: 5%;
}
.histories {
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.logs {
	display: block;
	background-color: rgb(255, 245, 211);
	border-radius: 4px;
	border-style: solid;
	border-color: rgb(250, 190, 101) rgb(243, 130, 55) rgb(243, 130, 55) rgb(250, 190, 101);
	border-width: 2px;
	margin-left: 20px;
	width: 90%;
	height: 25%;
}
.logs .night{
	display: block;
	background-color: rgb(43, 36, 14);
	border-radius: 4px;
	border-style: solid;
	border-color: rgb(34, 24, 8);
	border-width: 2px;
	margin-left: 20px;
	width: 90%;
	height: 25%;
}
.logs h5 {
	margin-top: 5px;
}
.logs h5 .night{
	margin-top: 5px;
	color: white;
}

.noTextDecoration {
	text-decoration: none;
}